 /* Base styles */

body {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.025rem;
  background: #b8860b;
  color: #0b3db8;
  font-family: 'Red Rose', cursive;
  border: 1rem double #3b31ff;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  opacity: .5;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

.banner {
  background: #0b3db8;
  color: #0b3db8;
}

.banner-text {
  color: #b8860b;
  font-family: 'Red Rose', cursive;
  text-align: center;
}

.row {
  display: flex;
  -webkit-display: flex;
  margin-left: -1rem;
  margin-right: -1rem;
}

.col {
  flex-grow: 1;
  padding: 1rem;
}


.academically {
  background: rgb(11, 61, 184);
  text-align: center;
}

.mentally {
  background: rgb(11, 61, 184);
  text-align: center;
}

.socially {
  background: rgb(11, 61, 184);
  text-align: center;
}
